html {
  font-size: 62.5%;
}
@font-face {
  font-family: hanken-grotesk;
  src: url(/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "hanken-grotesk";
  display: flex;
  justify-content: center;
}

.container {
  border-radius: 1rem;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.045);
}
.main-score-card {
  border-radius: 1rem;
  text-align: center;
  color: #fff;
  background: rgb(0, 38, 255);
  background: linear-gradient(0deg, rgba(0, 38, 255, 1) 0%, rgba(0, 0, 255, 1) 68%, rgba(134, 0, 255, 1) 100%);
}
.score-badge {
  display: inline-block;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.179) 13%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0.011) 100%);
  padding: 0.8rem;
  border-radius: 4rem;
  text-align: center;
  line-height: 1.4;
}
.your-result {
  font-size: 0.5rem;
  opacity: 0.7;
}
.main-score {
  font-size: 1.5rem;
  display: block;
  font-weight: bolder;
  margin: 0 0.5rem;
}
.from {
  font-size: 0.5rem;
  display: block;
  opacity: 0.5;
}
.great {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
.des {
  font-size: 0.4rem;
  margin: 0 2.4rem;
  opacity: 0.5;
  margin-bottom: 1.5rem;
}
.test {
  font-size: 0.5rem;
}
