html {
  font-size: 62.5%;
}
@font-face {
  font-family: hanken-grotesk;
  src: url(/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "hanken-grotesk";
}

.main-score-card {
  width: 100vw;
  display: inline-block;
  margin: -2rem -1rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  text-align: center;
  color: #fff;
  background: rgb(0, 38, 255);
  background: linear-gradient(0deg, rgba(0, 38, 255, 1) 0%, rgba(0, 0, 255, 1) 68%, rgba(134, 0, 255, 1) 100%);
}
.score-badge {
  display: inline-block;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.179) 13%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0.011) 100%);
  padding: 4rem;
  border-radius: 999rem;
  text-align: center;
  line-height: 1.1;
}
.your-result {
  margin-top: 3rem;
  font-size: 1.5rem;
  opacity: 0.7;
}
.main-score {
  font-size: 5rem;
  display: block;
  font-weight: bolder;
  margin: 0 0.5rem;
}
.from {
  font-size: 1.3rem;
  display: block;
  opacity: 0.5;
}
.great {
  font-size: 2.6rem;
  margin: 1.8rem 0;
  margin-bottom: 1rem !important;
}
.des {
  font-size: 1.3rem;
  opacity: 0.7;
  margin: 0.5rem 12rem;
  margin-bottom: 3rem !important;
}

.summary {
  color: hsl(224, 30%, 27%);
  margin-top: 4rem;
  font-size: 1.3rem;
}
svg {
  display: inline;
  vertical-align: middle;
}
.flex {
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.flex-lable {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.flex-reaction {
  background-color: hsla(0, 100%, 67%, 0.071);
}
.flex-lable-reaction {
  color: hsla(0, 100%, 67%, 0.94);
}
.flex-memory {
  background-color: hsla(39, 100%, 56%, 0.071);
}
.flex-lable-memory {
  color: hsla(39, 100%, 56%, 0.94);
}
.flex-verbal {
  background-color: hsla(166, 100%, 37%, 0.071);
}
.flex-lable-verbal {
  color: hsl(166, 100%, 37%, 0.94);
}
.flex-visual {
  background-color: hsl(234, 85%, 45%, 0.071);
  margin-bottom: 2rem;
}
.flex-lable-visual {
  color: hsl(234, 85%, 45%, 0.94);
}
.from- {
  opacity: 0.5;
}
.score {
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.btn {
  padding: 1.5rem 0;
  text-align: center;
  display: block;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  border-radius: 4rem;
  text-decoration: none;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.5rem;
}
.margin-fix {
  margin: 0 1.5rem;
}
@media screen and (min-width: 800px) {
  .your-result {
    font-size: 2rem;
  }
  .main-score-card {
    width: 100%;
    border-radius: 2rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 40vw;
    border-radius: 2rem;
    margin-top: 10rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.045);
  }
  body {
    display: flex;
    justify-content: center;
  }
  .des {
    margin: 0 5rem;
  }
  .main-score-card {
    margin: 0 0;
  }
  .summary {
    margin-top: 1rem;
  }
  .btn {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 1.5rem 0;
    margin: 3rem 2rem;
  }
}
